<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>共通部品</title>
	</head>
<body>

    <header th:fragment="header-fragment">
		
		<link rel="stylesheet" th:href="@{/css/fragments.css}">
		
        <a th:href="@{/menu}" style="font-weight: bold;">メンバーTODO管理システム</a>
		
        <nav>
            <span sec:authentication="name">ログインユーザー</span> さん
            <a th:href="@{/members}">メンバー一覧</a>
            <a th:href="@{/todos}">TODO一覧</a>
        </nav>
		
    </header>

    <footer th:fragment="footer-fragment">
        
		<form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit" class="logout-btn">ログアウト</button>
        </form>
        
        <span style="margin-left: 20px;">&copy; All rights reserved.</span>
		
    </footer>

</body>
</html>