<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>メンバー一覧</title>
		<link rel="stylesheet" th:href="@{/css/members.css}">
		<script th:src="@{/js/member-list.js}" defer></script>
	</head>
	<body th:attr="data-is-admin=${#authorization.expression('hasAuthority(''ADMIN'')')}">
		<div th:replace="~{common/fragments :: header-fragment}"></div>
		
		<main>			
			<div class="main-header">
				<h3>メンバー一覧</h3>
				<a th:href="@{/members/add}" class="add-btn">＋ メンバー追加</a>
			</div>
			<div class="search-area">
			    <div class="search-grid">        
			        <input type="text" class="search-input" data-field="id" placeholder="ID">
			        <input type="text" class="search-input" data-field="username" placeholder="名前">
			        <input type="text" class="search-input" data-field="email" placeholder="メールアドレス">
			        <input type="text" class="search-input" data-field="password" placeholder="パスワード">
			        <input type="text" class="search-input" data-field="role" placeholder="権限">
			        <input type="text" class="search-input" data-field="remarks" placeholder="備考">
			    </div>
			</div>
			<table>
				<thead>
					<tr>
						<th data-sort="id">ID</th>
						<th data-sort="username">ユーザー名</th>
						<th data-sort="email">メールアドレス</th>
						<th data-sort="password">パスワード</th>
						<th data-sort="role">権限</th>
						<th data-sort="remarks">備考</th>
					</tr>
				</thead>
				<tbody id="member-table-body">
					<tr th:each="member : ${members}">
						<td>
							<a th:href="@{/members/{id}(id=${member.id})}" th:text="${#numbers.formatInteger(member.id, 10)}">1</a>
						</td>
						<td th:text="${member.username}">山田太郎</td>
						<td th:text="${member.email}">aiueo@example.com</td>
						<td>
				            <span sec:authorize="hasAuthority('ADMIN')" th:text="${member.password}">パスワード</span>
				            <span sec:authorize="!hasAuthority('ADMIN')">*******</span>
				        </td>
						<td th:text="${member.role.label}">管理者とか</td>
						<td th:text="${member.remarks}">備考ゾーン</td>
					</tr>
				</tbody>
			</table>
			
		</main>
		
		<div th:replace="~{common/fragments :: footer-fragment}"></div>
	</body>
</html>