<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>Todo一覧</title>
		<link rel="stylesheet" th:href="@{/css/todos.css}">
		<script th:src="@{/js/main.js}" defer></script>
	</head>
	<body>
		<div th:replace="~{common/fragments :: header-fragment}"></div>
		
		<main>
			<div class="main-header">
		        <h3>TODO一覧</h3>		        
		        <div class="header-actions">
					<th:block th:if="${assignee != null}">
		                <a th:href="@{/members/{id}(id=${assignee.id})}" class="back-link">
							← <span th:text="${assignee.username}"></span> さんの詳細に戻る
						</a>
		            </th:block>
		            <a th:href="@{/todos/add}" class="add-btn">＋ TODO追加</a>
		        </div>
		    </div>
			<div class="search-area">
			    <div class="search-grid">        
			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{id}" placeholder="ID">
					</form>

			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{title}" placeholder="TODO名">
			        </form>

			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{assignee}" placeholder="担当者">
			        </form>

			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{priority}" placeholder="優先度">
			        </form>

			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{dueDate}" placeholder="期限">
			        </form>

			        <form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{classification}" placeholder="分類">
			        </form>
					
					<form th:action="@{/todos}" method="get" th:object="${todoSearchForm}" class="search-item">
			            <input type="text" th:field="*{description}" placeholder="内容">
			        </form>
			    </div>
			</div>
			<table>
				
				<thead>
					<tr>
						<th data-sort="id">ID</th>
						<th data-sort="title">TODO名</th>
						<th data-sort="assignee">担当者</th>
						<th data-sort="priority">優先度</th>
						<th data-sort="dueDate">期限</th>
						<th data-sort="classification">分類</th>
						<th data-sort="description">内容</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="todo : ${todos}">
						<td>
							<a th:href="@{/todos/{id}(id=${todo.id})}" th:text="${#numbers.formatInteger(todo.id, 10)}">1</a>
						</td>
						<td th:text="${todo.title}">Todoアプリを作る！</td>
						
						<td>
							<span th:if="${#lists.isEmpty(todo.assignees)}">未定</span>
				            
				            <span th:each="assignee, stat : ${todo.assignees}"
				                  th:text="${assignee.username} + (${stat.last} ? '' : ', ')">
				                  admin, user
				            </span>
						</td>
						
						<td th:text="${todo.priority.label}">高</td>
						<td th:text="${todo.dueDate}">2026/02/11</td>
						<td th:text="${todo.classification.label}"></td>
						<td th:text="${todo.description}">アプリ作る</td>
					</tr>
				</tbody>
				
			</table>
			
		</main>
		
		<div th:replace="~{common/fragments :: footer-fragment}"></div>
	</body>
</html>